<%= form_for :anime_contributors, url: anime_contributors_path do |f| %>
  <p>
    <%= f.label :anime_id %><br>
    <%= f.text_field :anime_id %>
  </p>
 
  <p>
    <%= f.label :contributor_id %><br>
    <%= f.text_field :contributor_id %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  <p>
    <%= f.submit %>
  </p>


<% end %>