<div class="jumbotron">
      <div class="container">
        <div class="col-md-6">
          <%= image_tag "title_card.jpg", height: '300', width: '400', alt: 'no_title_card.png' %>
          <br>
          <div style="padding-top: 10px">Tags: 
          	<% @anime_tags.all.each do |a| %>
				/ <a  href= <%= "/tags/" + Tag.where(:id => a.tag_id).first.id.to_s %> >
          			<%= Tag.where(:id => a.tag_id).first.name %>
              	</a> /<%end%>
          </div>
        </div>
        
        <div class="col-md-6 title_info">
        	<div style="font-size: 130%">
        		<%= @anime.name %>
        	</div>
          <div style="font-size: 90%">Originally Aired: <%= @anime.air_date %></div>
          <div>
          <% @anime_genres.all.each do |a| %>
				/ <a  href= <%= "/genres/" + Genre.where(:id => a.genre_id).first.id.to_s %> >
          			<%= Genre.where(:id => a.genre_id).first.name %>
              	</a> /<%end%>
          </div>
          <br>
          <div class="synopsis">
              <%= @anime.description %>
          </div>
          <br>
          <div class="important_people">

              <% @anime_contributors.where(:anime_id => @anime.id).each do |a| %>

              <%directors = []%>
              <%writers   = []%>
              <%producers = []%>
              <% if AnimeContributor.where(:anime_id => a.anime_id, :role => "Director")%>
                <%directors.append(Contributor.where(:id => (AnimeContributor.where(:anime_id => a.anime_id))))%>
              <% elsif AnimeContributor.where(:anime_id => a.anime_id, :role => "Writer")%>
                <%directors.append(Contributor.where(:id => (AnimeContributor.where(:anime_id => a.anime_id))))%>
              <% elsif AnimeContributor.where(:anime_id => a.anime_id, :role => "Producer")%>
                <%producers.append(Contributor.where(:id => (AnimeContributor.where(:anime_id => a.anime_id))))%>
              <%end%>

              Directors:
              <%= directors.map {|i| i} %>
              Writers:
              <%= writers.each {|i| i.name} %>
              Producers:
              <%= producers.each {|i| i.name} %>

              <%end%>



              <!-- /
              </a>
              /
              <br>
              /
              </a>
              /
              <br>
              /
              </a>
              / -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Cast</h2>
            <table class="table table-stripe">
              <% @anime_contributors.all.each do |a| %>

              	<tr><td><a href= <%= "/contributors/" + Contributor.where(:id => a.contributor_id).first.id.to_s %> >
              		<%= Contributor.where(:id => a.contributor_id).first.name %>
              	</a> - <%= AnimeContributor.where(:contributor_id => a.contributor_id).first.role %></td></tr>

              <%end%>
            </table>
        </div>
      </div>

      <hr>

      
    </div>