<div class="jumbotron">
      <div class="container">
        <div class="col-md-6">
          <%= image_tag "title_card.jpg", height: '300', width: '400', alt: 'no_title_card.png' %>
          <br>
          <div style="padding-top: 10px">Tags: <a>Robots</a>, <a>Space</a>, <a>Gundam</a>, <a>Politics</a>, <a>Futuristic</a></div>
        </div>
        
        <div class="col-md-6 title_info">
        	<div style="font-size: 130%">
        		<%= @anime.name %>
        	</div>
          <div style="font-size: 90%">Originally Aired: (PLACEHOLDER)</div>
          <div><a>Mecha</a>, <a>Action</a>, <a>Adventure</a></div>
          <br>
          <div class="synopsis">
              <%= @anime.description %>
          </div>
          <br>
          <div class="important_people">
              Director(s): <a>Masashi Ikeda</a>
              <br>
              Writer(s): <a>Katsuyuki Sumizawa</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Cast</h2>
            <table class="table table-stripe">
              <% @anime_contributors.all.each do |a| %>

              	<tr><td><a href= <%= "/contributors/" + Contributor.where(:id => a.contributor_id).first.id.to_s %> >
              		<%= Contributor.where(:id => a.contributor_id).first.name %>
              	</a></td></tr>

              <%end%>
            </table>
        </div>
      </div>

      <hr>

      
    </div>