<p>
  <strong>Contributor stuff:</strong>
  <%= @contributor.name %>
  <%= @contributor.age %>
  <%= @contributor.birthplace %>
  <%= @contributor.id %>
  <br>
  <%= @anime_contributor.anime_id%>
  <%= @anime_contributor.contributor_id%>
  <br>
  <%= @anime.id%>
  <%= @anime.name%>



</p>
