<p>
  <strong>Contributor info:</strong>
  <br>
  Name:
  <%= @contributor.name %>
  <br>
  Age:
  <%= @contributor.age %>
  <br>
  Birthplace:
  <%= @contributor.birthplace %>
  <br>
  InternalID:
  <%= @contributor.id %>
  <br>
  <br>
  

Films:
  <br>
<% @anime_contributors.all.each do |a| %>
  <%= Anime.where(:id => a.anime_id).first.name%>
  <br>

<%end%>



</p>
