<!DOCTYPE html>
<html>
<head>
  <title>AMDB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            .title_info {
                font-size: 150%
            }
            .important_people {
                font-size: 75%
            }
            .title_words {
                font-family: 'Cantata One', serif;
                font-size: 125%;
            }
            .btn-success {
                background-image: linear-gradient(to bottom,#555577 0,#444466 100%) !important;
                border-color: #333355 !important;
            }
        </style>
</head>
<body>

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand title_words" href="#">AMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          Follow Us:
          <%= image_tag "Twitter-icon.png", size: '40'%>
          </div>
          <div class="col-md-4">
          <a>Contact Us</a>
          </div>
          <div class="col-md-4">
          Copyright © 2015 AMDB
          </div>
        </div>
      </div>
    </footer>

</body>
</html>
